<div class="home">
    <img src="assets/home1t.jpg" alt="picture of food" class="home-food">
     <div class="text">
         <h1>Check out the newest recipes</h1>
     </div>
     <div class="row">
        <div class="col-md-12 text-center">
            <div class="filter-container">
                <div class="filter-group"> 
                  <label for="orderBy">Order By Posting Date:</label>
                  <select id="orderBy" [(ngModel)]="filters.isSortAscending" (change)="onOrderByChange()">
                    <option value="true">Oldest first</option>
                    <option value="false">Newest first</option>
                  </select>
                </div>

                <div class="filter-group">
                  <label for="dateOfDonation">Date of donation:</label>
                  <input type="date" id="dateOfDonation"[(ngModel)]="filters.dateOfPosting">
                </div>
              
                <div class="filter-group">
                    <label for="temperature">Baking Temperature:</label>
                    <input type="number" id="temperature" placeholder="Baking temperature" [(ngModel)]="filters.temperature">
                </div>
                <div class="filter-group">
                    <label for="preporationTime">Preparation time:</label>
                    <input type="number" id="preporationTime" placeholder="Preparation time" [(ngModel)]="filters.timeToCook">
                </div>
                <div class="filter-group">
                  <label for="ingredients">Ingredients:</label>
                  <input type="text" id="ingredients" placeholder="Ingredients" [(ngModel)]="filters.ingredients">
                  <p id="ing">For multiple ingredients put commas inbetween</p>
                </div>

                <div class="filter-group">
                  <button (click)="apply()" id="dugmence">Apply Filters</button>
                </div>
              </div>
        </div>
      </div>
      <div class="spinner-container" *ngIf="isLoading">
        <mat-spinner class="custom-spinner" mode="indeterminate" color="warn" diameter="50"></mat-spinner>
      </div>
        <div id="units">
            <div *ngFor="let u of recipes">
                <div  (click)="openInfo(u.id)">
                <mat-card id="unit">
                    <div class="image-container">
                        <img [src]="u.image" id="img">
                        <div class="rectangle"></div>
                      </div>
                    <br>
                    <mat-card-content>
                        <span>
                            <p>{{ u.taste ? 'Sweet' : 'Savory' }}</p>
                            <p>{{ u.preporationTime }} min</p>
                        </span>
                        <h2>{{u.title}}</h2>
                        <hr>
                        <h5>BY {{u.chef.firstName}} {{ u.chef.lastName}}</h5>

                    </mat-card-content>
                </mat-card>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <mat-paginator [length]="totalItems"
              [pageSize]="pageSize"
              [pageSizeOptions]="[2, 5, 10, 25, 100]"
              [pageIndex]="currentPage - 1"
              (page)="onPageChange($event)">
            </mat-paginator>
          </div>

 </div>
