<div class="container">
    <form [formGroup]="form">
      <div class="row">
        <div class="text-center">
          <br>
          <h1 class="text-theme-primary">Change password</h1>
          <p>Please fill in this form to change your password</p>
        </div>
      </div> 
      <div class="form-group">
      <label for="oldPassword"><b>Old password</b></label>
      <input formControlName="oldPassword" id="oldPassword" type="password" placeholder="Enter your old password">
      <div *ngIf="oldPassword?.touched && oldPassword?.invalid">
          <div *ngIf="oldPassword?.errors?.['required']" class="alert ">Old Password is required</div>
      </div>
    </div>
      <div class="form-group">
      <label for="newPassword"><b>New password</b></label>
      <input formControlName="newPassword" id="newPassword" type="password" placeholder="Enter your new password">
      <p class="pass-info">Password has to contain at least: one Uppercase letter, one number and one special caracter. 
        Has to be at least 8 caracters long, and cannot contain spaces.</p>
      <div *ngIf="newPassword?.touched && newPassword?.invalid">
          <div *ngIf="newPassword?.errors?.['required']" class="alert ">New password is required</div>
          <div *ngIf="newPassword?.errors?.['minlength']" class="alert ">New password must be at least 8 characters</div>
          <div *ngIf="newPassword?.errors?.['maxlength']" class="alert ">New password must have max 12 characters</div>
          <div class="alert " *ngIf="newPassword?.errors?.['cannotContaintSpace']">Can not contain spaces</div>
          <div class="alert " *ngIf="newPassword?.errors?.['upperCase']">Has to contain Uppercase letter</div>
          <div class="alert " *ngIf="newPassword?.errors?.['number']">Has to one number</div>
          <div class="alert " *ngIf="newPassword?.errors?.['specialCaracter']">Has to one special character</div>
      </div>
    </div>
      <div class="form-group">
      <label for="confirmPassword"><b>Confirm password</b></label>
      <input formControlName="confirmPassword" id="confirmPassword" type="password" placeholder="Confirm your password">
      <div *ngIf="confirmPassword?.touched && confirmPassword?.invalid">
          <div *ngIf="confirmPassword?.errors?.['required']" class="alert ">Confirm password is required</div>
      <div *ngIf="form?.errors?.['passwordMismatch']" class="alert ">Passwords do not match</div>
  </div>
</div>
      <br>
      <span>
        <button (click)="openConfirmationDialog()">Change password</button>
      </span>
    
    </form>
</div>
