<nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item mr-5" *ngIf="!userService.isLogedIn()">
                    <a routerLink="/login" class="nav-link">Sign in</a>
                </li>
                <li class="nav-item mr-5" *ngIf="userService.isLogedIn() && userService.isAdmin()">
                    <a routerLink="/approve-users" class="nav-link">Users to approve</a>
                </li>
            </ul>
        </div>
        <mat-icon *ngIf="!userService.hasImage() && userService.isLogedIn()" class="white-icon">account_circle</mat-icon>
        
        <img *ngIf="userService.hasImage()" class="profile-image" [src]="user.image" alt="">
        
        <button *ngIf="userService.isLogedIn()" mat-button [matMenuTriggerFor]="menu" class="menu" id="ime" >{{user.firstName}} {{user.lastName}}</button>
         <mat-menu #menu="matMenu">
            <span><button  mat-menu-item (click)="openInfo(user.id)" routerLinkActive="active">Edit profile</button></span>
            <span><button  mat-menu-item (click)="ChangePassword(user.id)" routerLinkActive="active">Change password</button></span>
            <span><button mat-menu-item routerLink="/" (click)="logout()" id="logout">Logout</button></span>
        </mat-menu>
        <button *ngIf="userService.isLogedIn()" mat-button [matMenuTriggerFor]="menu2" class="menu">
            <mat-icon class="white-icon">restaurant_menu</mat-icon>
        </button>
        <mat-menu #menu2="matMenu">
            <span><button mat-menu-item (click)="addRecipe()" *ngIf="userService.isChef() || userService.isAdmin()">Add Recipe</button></span>
            <span><button mat-menu-item (click)="postedRecipes(user.id)" *ngIf="userService.isChef() || userService.isAdmin()">Posted recipes</button></span>
            <span><button mat-menu-item (click)="favorites(user.id)">My Favorites</button></span>
            <span><button mat-menu-item (click)="allUsers()" *ngIf="userService.isAdmin()">All users</button></span>
            <span><button mat-menu-item (click)="requestChef(user.id)" *ngIf="userService.isRegularUser()">Request chef status</button></span>
        </mat-menu>
        
    </div>
</nav>
