<form [formGroup]="form">
   
    <div class="container">
      <div class="text-center">
        <h2 class="text-theme-primary">Sign in</h2>
        <p>Please enter your information to sign in</p>
        <div *ngIf="error" class="alert ">Email and password do not match!</div>
        <div *ngIf="error" class="alert alert-danger">Email and password do not match!</div>
        <div *ngIf="success" class="alert alert-success">Email has been sent</div>
      </div>
    <label for="email"><b>Email</b></label>
    <input formControlName="email" id="email" type="text" placeholder="Enter your email">
    <div *ngIf="Email?.touched && Email?.invalid">
        <div *ngIf="Email?.errors?.['required']" class="alert ">Email is required</div>
    </div>
    <br>
    <br>
    <label for="password"><b>Password</b></label>
    <input formControlName="password" id="password" type="password" placeholder="Enter your password">
    <div *ngIf="Password?.touched && Password?.invalid">
        <div *ngIf="Password?.errors?.['required']" class="alert ">Password is required</div>
    </div>
      <button type="submit" [disabled]="!form.valid" (click)="login()">Sign in</button> 
      <div class="container2" >
        <span> <a routerLink="/register" routerLinkActive="active">Dont have an account?</a></span>
    </div>
</div>
</form>
