#section{
    margin: auto;
    min-height: 70vh;
}
h1{
    text-align: center;
    margin-top: 40px;
}
.special-user-3{
    border: 2px solid #AA408A;
    box-shadow: 2px 2px 4px  #aa408a90;

}
.special-user-2{
    border: 2px solid #FB6107;
    box-shadow: 2px 2px 4px  #f5803c89;
}
#p{
    width: 60%;
    margin: 25px auto;
    text-align: center;
}