<form [formGroup]="form" >
  
    <div class="container">
      <div class="text-center">
        <h2 class="text-theme-primary">Register</h2>
        <p>Please fill in this form to create an account.</p>
        <div *ngIf="error" class="alert ">Email already registered!</div>
    </div>
    <label for="fname"><b>First name</b></label>
    <input formControlName="fname" id="fname" type="text" placeholder="Enter your first name">
    <div *ngIf="Fname?.touched && Fname?.invalid">
        <div *ngIf="Fname?.errors?.['required']" class="alert ">First name is required</div>
        <div *ngIf="Fname?.errors?.['minlength']" class="alert ">First name must be at least 3 characters</div>
        <div class="alert " *ngIf="Fname?.errors?.['fname']">Not good</div>
        <div class="alert " *ngIf="Fname?.errors?.['cannotContaintSpace']">Can not contain spaces</div>
    </div>
    <br>
    <br>
    <label for="lname"><b>Last name</b></label>
    <input formControlName="lname" id="lname" type="text" placeholder="Enter your last name">
    <div *ngIf="Lname?.touched && Lname?.invalid">
        <div *ngIf="Lname?.errors?.['required']" class="alert ">Last name is required</div>
        <div *ngIf="Lname?.errors?.['minlength']" class="alert ">Last name must be at least 3 characters</div>
        <div class="alert " *ngIf="Lname?.errors?.['lname']">Not good</div>
        <div class="alert " *ngIf="Lname?.errors?.['cannotContaintSpace']">Can not contain spaces</div>
    </div>
    <br>
    <br>
    <label for="email"><b>Email</b></label>
    <input formControlName="email" id="email" type="text" placeholder="Enter your email">
    <div *ngIf="Email?.touched && Email?.invalid">
        <div *ngIf="Email?.errors?.['required']" class="alert ">Email is required</div>
        <div *ngIf="Email?.errors?.['minlength']" class="alert ">Email must be at least 3 characters</div>
        <div class="alert " *ngIf="Email?.errors?.['email']">Not good</div>
        <div class="alert " *ngIf="Email?.errors?.['cannotContaintSpace']">Can not contain spaces</div>
    </div>
    <br>
    <br>
    <label for="password"><b>Password</b></label>
    <input formControlName="password" id="password" type="password" placeholder="Enter your password">
    <p class="pass-info">Password has to contain at least: one uppercase letter, one number and one special caracter. 
      Has to be at least 8 caracters long, and cannot contain spaces.</p>
    <div *ngIf="Password?.touched && Password?.invalid">
        <div *ngIf="Password?.errors?.['required']" class="alert ">Password is required</div>
        <div *ngIf="Password?.errors?.['minlength']" class="alert ">Password must be at least 8 characters</div>
        <div *ngIf="Password?.errors?.['maxlength']" class="alert ">Password must have max 12 characters</div>
        <div class="alert " *ngIf="Password?.errors?.['cannotContaintSpace']">Can not contain spaces</div>
        <div class="alert " *ngIf="Password?.errors?.['upperCase']">Has to contain uppercase letter</div>
        <div class="alert " *ngIf="Password?.errors?.['number']">Has to one number</div>
        <div class="alert " *ngIf="Password?.errors?.['specialCaracter']">Has to one special character</div>
    </div>
    <label for="confirmPassword"><b>Confirm password</b></label>
    <input formControlName="confirmPassword" id="confirmPassword" type="password" placeholder="Confirm your password">
    <div *ngIf="ConfirmPassword?.touched && ConfirmPassword?.invalid">
        <div *ngIf="ConfirmPassword?.errors?.['required']" class="alert ">Confirm password feild is required</div>
    <div *ngIf="form?.errors?.['passwordMismatch']" class="alert ">Passwords do not match</div>
</div>
<br>
<br>
<div class="form-group">
    <label for="password"><b>I register as</b></label>
    <div style="display: flex; justify-content: space-between;">
          <select class="form-control bg-secondary-theme" id="role">
            <option value="3">Regular user</option>
            <option value="2">Chef</option>
          </select>
    </div>
</div>
<br>
<!--<p class="pass-info">By registering you agree to our <a routerLink="/terms">TERMS AND CONDITIONS</a></p>-->
      <button type="submit">Register</button>
      <div class="container" >
    <span> <a routerLink="/login" routerLinkActive="active">Already have an account?</a></span>
    </div>
</div>
</form>
