<div class="section p-5" id="sec">
    <div class="container">
        <span><h1 class="">{{userDetails.firstName}} {{userDetails.lastName}}</h1></span>
       
        <div id="slikice">
          <ng-container *ngIf="userDetails.image != null">
            <img [src]="userDetails.image">
          </ng-container>
          
          <ng-container *ngIf="userDetails.image === null">
            <img src="../../../assets/profile.jpg" alt="Fallback Image" *ngIf="userDetails.image === null">
          </ng-container>
        </div>
        <br>
        <p>Name: {{userDetails.firstName}}</p>
        <p>Last name: {{userDetails.lastName}}</p>
        <p>Email: {{userDetails.userName}}</p>
        <span>
            <button  (click)="openConfirmationDialog()" >Delete user</button>
        </span>
        </div>
        
        
    
</div>
